ul.singleline, ul.nostyle {
    padding: 0;
    margin: 0;
}
ul.singleline > li:before, ul.singleline > li:last-child:after, ul.nostyle > li::marker {
    content: "";
}
ul.singleline.nostyle > li:after {
    content: "";
    margin-right: 1cm;
}
ul.singleline > li {
    display: inline;
}
ul.singleline > li:after {
    content: " •";
}

table.vert > tr > th, table.vert > tbody > tr > th {
    text-align: start;
}
table.vert > tr > td, table.vert > tbody > tr > td {
    text-align: start;
    padding-left: .5cm;
}
